# dependencies
node_modules/
/apps/api/node_modules/
/apps/web/node_modules/
/packages/shared/node_modules/

# next.js
/apps/web/.next/
/apps/web/out/

# production
/apps/api/dist/
/apps/web/build/

# env files
.env
.env.*
apps/api/.env
apps/web/.env

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# misc
.DS_Store
*.pem
.vercel
/extract_pdf.py
/PRD_SIAM_MPA_HIMAKOM_v1.0.txt
/SOP_kuesioner_mpa_himakom_2026.txt

# prisma
/apps/api/generated/
